<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Message Ports:</span>
                <ul class="nav nav-tabs pull-right" data-tabs="tabs">
                  <li class="nav-item pull-right">
                    <a mat-button class="nav-link active" (click)="addNewMessagePortDialog()">
                      <i class="material-icons">person</i> Create Message Port
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-paginator [length]="paginated_message_ports.total"
                             [pageSize]="paginated_message_ports.per_page"
                             [pageSizeOptions]="pageSizeOptions"
                             (page)="updatePaginatedMessagePortsData($event)">
              </mat-paginator>
              <table class="table">
                <thead class=" text-primary">
                <th> ID </th>
                <th> Port </th>
                <th> API KEY </th>
                <th> Campaign </th>
                <th> Port Name </th>
                <th> Is Connected </th>
                <th> Created At </th>
                <th> </th>
                </thead>
                <tbody>
                <tr *ngFor="let messagePort of paginated_message_ports.data; let i = index">
                  <td> {{paginated_message_ports.from + i}} </td>
                  <td> {{messagePort.name}} </td>
                  <td> {{messagePort.api_key.substr(0, 10)}} </td>
                  <td>{{getCampaignName(messagePort.api_key, messagePort.campaign_id)}}</td>
                  <td>{{getSmsPortName(messagePort.api_key, messagePort.sms_port_id)}}</td>
                  <td> {{messagePort.is_connected}} </td>
                  <td class="text-primary"> {{messagePort.created_at | date: 'short'}} </td>
                  <td class="td-actions">
                    <button mat-raised-button type="button" (click)="connectPort(messagePort)" matTooltip="Connect" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                      <i class="material-icons">settings_input_component</i>
                    </button>
                    <button mat-raised-button type="button" matTooltip="Edit"
                            [matTooltipPosition]="'above'" (click)="updateUserDialog(messagePort)"
                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">edit</i>
                    </button>
                    <button mat-raised-button type="button" matTooltip="Remove"
                            [matTooltipPosition]="'above'" (click)="deleteMessagePort(messagePort)"
                            class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <mat-paginator [length]="paginated_message_ports.total"
                             [pageSize]="paginated_message_ports.per_page"
                             [pageSizeOptions]="pageSizeOptions"
                             (page)="updatePaginatedMessagePortsData($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }"></ngx-loading>
