<br>
<br>
<br>
<br>
<div class="main-content">
  <form class="form-signin card card-profile" (submit)="loginUser()">
    <div class="card-avatar">
      <a href="#pablo">
        <img class="img" src="./assets/img/media_negarit_back_logo.png" />
      </a>
    </div>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Reset Media-Negarit Account</h1>
      <p>Media Extension of Negarit Service</p>
    </div>
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email | Phone" type="text" [(ngModel)]="new_reset_code.email_phone" name="reset_email_now" autocomplete="off">
      </mat-form-field>
    </div>
    <button class="btn btn-sm btn-default" type="button" (click)="getResetCode()">Get Reset Code</button>
    <br>
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Reset Code" type="text" [(ngModel)]="new_reset_user.reset_code" name="reset_code" autocomplete="off">
      </mat-form-field>
    </div>
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email | Phone" type="text" [(ngModel)]="new_reset_user.email_phone" name="reset_email_the">
      </mat-form-field>
    </div>
    <div class="form-label-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" type="password" [(ngModel)]="new_reset_user.password" name="user_password">
      </mat-form-field>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="resetPassword()">Reset Password</button>
    <a [routerLink]="['/auth/login']">Login Now</a>
    <div class="mt-5 mb-3 text-muted text-center"><a href="http://negarit.net">Powered By Negarit</a> <br> © 2019-2020</div>
  </form>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }"></ngx-loading>

